<div ng-hide-auth="" class="container">
  <div class="jumbotron">
    <h1>Welcome to DrunKrawl!</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      A recreational activity planner.
    </p>
    <div>
      <button class="btn btn-facebook btn-lg" href="" ng-click="">
        <i class="fa fa-facebook"></i> Connect with Facebook
      </button>
      <br>
      <br>
      <button class="btn btn-twitter btn-lg" href="" ng-click="">
        <i class="fa fa-twitter"></i> Connect with Twitter
      </button>
    </div>

  </div>
    <p class="text-center">we will not post anything to your account</p>
    <p class="text-center"><strong>Sign Up</strong> or <strong>Log In</strong> with email
</div>

<!-- if logged in, show home screen -->
<div ng-show-auth="" class="container">

</div>
